body {
  background: #392b58;
  margin: 0px;
  padding: 10px;
  color: #ffffff;
  border: 5px solid #ececec;
  width: 250px;
}
.title {
  background: #645e9d;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}
.btn:hover {
  background: #fff;
  color: #000;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.btn {
  background: #2d0320;
  color: #fff;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  padding: 10px 5px;
  box-shadow: 1px 1px 10px 0px #444;
  width: 100%;
}
